alembic==1.7.6
aliyun-python-sdk-core==2.13.36
aliyun-python-sdk-kms==2.15.0
amqp==5.1.0
async-timeout==4.0.2
Babel==2.9.1
billiard==3.6.4.0
bleach==5.0.0
blinker==1.4
celery==5.2.3
certifi==2023.7.22
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
crcmod==1.7
cryptography==36.0.2
Deprecated==1.2.13
Flask==2.0.1
Flask-Avatars==0.2.2
Flask-Babel==2.0.0
Flask-Caching==1.10.1
Flask-Cors==3.0.10
Flask-JWT-Extended==4.3.1
Flask-Mail==0.9.1
Flask-Migrate==3.1.0
flask-paginate==2022.1.8
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
greenlet==1.1.2
idna==3.3
importlib-metadata==4.11.3
importlib-resources==5.7.0
itsdangerous==2.1.2
Jinja2==3.1.1
jmespath==0.10.0
kombu==5.2.4
Mako==1.2.0
MarkupSafe==2.1.1
oss2==2.15.0
packaging==21.3
Pillow==9.1.0
prompt-toolkit==3.0.29
pybabel==0.0.0.dev0
pycparser==2.21
pycryptodome==3.14.1
PyJWT==2.3.0
PyMySQL==1.0.2
pyparsing==3.0.8
pytz==2022.1
redis==4.2.2
requests==2.26.0
shortuuid==1.0.8
six==1.16.0
SQLAlchemy==1.4.27
SQLAlchemy-serializer==1.4.1
urllib3==1.26.9
vine==5.0.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.1
wrapt==1.14.0
wtf-tinymce==0.1.4
WTForms==2.2.1
zipp==3.8.0
