 <!-- JS from old template here -->
    <script src="{{ url_for('static', filename='front/js/login.js') }}"></script>

    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{{ url_for('static', filename='front/js/zlajax.js') }}"></script>
    <script src="{{ url_for('static', filename='front/js/zlparam.js') }}"></script>



    <script src="{{ url_for('static', filename='assets/js/party.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/script.js') }}"></script>
    <!-- JS here -->
    <script src="{{ url_for('static', filename='front/js/bootstrap.js') }}"></script>

 <script src="{{ url_for('static', filename='tinymce4.7.5/js/tinymce4.7.5.min.js') }}"></script>

    <script src="{{ url_for('static', filename='assets/js/vendor/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/vendor/waypoints.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bootstrap-bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/meanmenu.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/swiper-bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/owl-carousel.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery-ui-slider-range.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/magnific-popup.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/parallax.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/backtotop.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/nice-select.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/counterup.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/countdown.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/wow.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/isotope-pkgd.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/imagesloaded-pkgd.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/ajax-form.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/add_cart.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/post_comment_like.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/post_detail.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/public_post.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/register.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/write_blog.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/update_user_info.js') }}"></script>