<!doctype html>
<html class="no-js" lang="zxx">

<head>
    {% include "newFront/head_base.html" %}
    {% block title %} <title>{{ _("GoldMelody - Order Details")}} </title> {% endblock %}
    <script src="/static/assets/js/star.js"></script>


</head>

<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a
        href="\https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

<!-- prealoder area start -->
<div id="loading">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <div class="object" id="first_object"></div>
            <div class="object" id="second_object"></div>
            <div class="object" id="third_object"></div>
        </div>
    </div>
</div>
<!-- prealoder area end -->

<!-- back to top start -->
<div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
    </svg>
</div>
<!-- back to top end -->

{% include "newFront/header_area.html" %}

<main>
    <!-- page__title-start -->
    <section class="page__title p-relative d-flex align-items-center"
             data-background="{{ url_for('static',filename='assets/img/bg/page-title-11.jpg') }}">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page__title-inner text-center">
                        <h1>{{ _("Order Detail")}}</h1>
                        <div class="page__title-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><a href="\index">{{ _("Home") }}</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">{{ _("Order") }}</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- page__title-end -->

    <!-- cart-area start -->
    <section class="cart-area pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="#">
                        <div class="table-content table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="product-remove">{{ _("Picture") }}</th>
                                    <th class="product-thumbnail">{{ _("Item Name")}}</th>
                                    <th class="product-price">{{ _("Price") }}</th>
                                    <th class="product-remove">{{ _("Amount") }}</th>
{#                                    <th>Give Star</th>#}

                                </tr>
                                </thead>

                                {#                                body for order id#}
                                <tbody>

                                {% for item in items %}
                                    <tr>

                                        <td class="order_detail" width="70">
                                            <img src="{{ item.commodity.image_oss }}" alt="" height="150" width="150">
                                        </td>
                                        <td class="order_detail_name"><a
                                        >{{ item.commodity.name }}</a>
                                        </td>


                                        <td class="order_address"><span>
                                        {{ item.commodity.price }}</span>
                                        </td>
                                        {#                =column for commodity' amount#}
                                        <td class="order_date">
                                            <div class="order_date">
                                                {{ item.amount }}
                                            </div>
                                        </td>



{#                                        <td style="width: 160px">#}
{#                                            <p id="order_details_id" style="display: none">{{ item.commodity.id }}</p>#}
{#                                            <p id="order_details_star" style="display: none">{{ star }}</p>#}
{#                                            <div class="starRatingContainer" style="width: 150px; max-width: 150px; height: 30px;">#}
{#                                                    <div class="ratingSystem" data-rating="2.0" data-step="0.5" style="width: 60px; height: 30px; background-size: 30px; background-image: url(/static/assets/img/star/star.png); background-repeat: repeat-x; min-width: 15px; max-width: 150px;"><div class="emptyStarRating" style="background-size: 30px; background-image: url(/static/assets/img/star/starbackground.png); background-repeat: repeat-x; width: 150px; height: 30px;"></div></div>#}
{#                                                </div>#}
{#                                            <div>#}
{#                                                <div class="starRatingContainer">#}
{#                                                    <div class="ratingSystem">#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                                <div class="ratingHolder">#}
{#                                                </div>#}
{#                                            </div>#}
{##}
{##}
{#                                        </td>#}

                                        <p class="cart_id" style="display: none"></p>
                                    </tr>
                                {% endfor %}
                                <script>
                                    $(document).ready(function () {
                                    });
                                </script>

                                </tbody>
                            </table>
                        </div>
{#                    <script>#}
{#                                let current_star = $("#order_details_star").html();#}
{#                            var properties1 = [#}
{#                                { "rating": current_star, "maxRating": "5", "minRating": "0.5", "readOnly": "no", "starImage": "/static/assets/img/star/star.png", "emptyStarImage": "/static/assets/img/star/starbackground.png", "starSize": "30", "step": "0.5" },#}
{#                            ];#}
{#                            var className = "ratingSystem";#}
{#                            rateSystem(className, properties1, function (rating, ratingTargetElement) {  });#}
{##}
{#                            rateSystem("className", properties2, function (rating, ratingTargetElement) {  });#}
{##}
{#                            rateSystem("update1.2", [properties2[2]], function (rating, ratingTargetElement, isTouchScreen) {  }, function (rating, ratingTargetElement, isTouchScreen) { document.getElementById("customTooltip").innerHTML = rating; if (rating > 4.5) {  } document.getElementById("customTooltip").style.top = (ratingTargetElement.getBoundingClientRect().bottom + 2) + "px"; document.getElementById("customTooltip").style.display = "inline-block"; if (isTouchScreen) { document.getElementById("customTooltip").style.backgroundColor = "purple"; } }, function (rating, ratingTargetElement, isTouchScreen) { document.getElementById("customTooltip").style.display = "none"; });#}
{#                            </script>#}
{#                        <script>#}
{#                            $(".ratingSystem").click(function (){#}
{#                                let id = $("#order_details_id").html();#}
{#                                let wid = $(".ratingSystem").width();#}
{#                                let score = 0.0;#}
{#                                if (wid === 14.9884){#}
{#                                    score = 0.5;#}
{#                                }#}
{#                                else if (wid === 29.9884){#}
{#                                    score = 1.0;#}
{#                                }#}
{#                                else if (wid === 44.9884){#}
{#                                    score = 1.5;#}
{#                                }#}
{#                                else if (wid === 59.9884){#}
{#                                    score = 2.0;#}
{#                                }#}
{#                                else if (wid === 74.9884){#}
{#                                    score = 2.5;#}
{#                                }#}
{#                                else if (wid === 89.9884){#}
{#                                    score = 3.0;#}
{#                                }#}
{#                                else if (wid === 104.988){#}
{#                                    score = 3.5;#}
{#                                }#}
{#                                else if (wid === 119.988){#}
{#                                    score = 4.0;#}
{#                                }#}
{#                                else if (wid === 134.988){#}
{#                                    score = 4.5;#}
{#                                }#}
{#                                else{#}
{#                                    score = 5.0;#}
{#                                }#}
{#                                                $.post('/star_record', {#}
{#                                                    'score': score,#}
{#                                                    'id': id,#}
{#                                                }).done(function (response) {#}
{#                                                    let server_code = response['server_code'];#}
{#                                                    if (server_code === 0){#}
{#                                                        success();#}
{#                                                    }#}
{#                                                    else{#}
{#                                                        warning();#}
{#                                                        window.location = "/login";#}
{#                                                    }#}
{#                                                }).fail(function () {#}
{#                                                    error();#}
{#                                                });#}
{#                                                })#}
{#                                            </script>#}
                        <div class="row">
                            <div class="row justify-content-end">
                                <div class="col-md-5">
                                    <div class="cart-page-total">
                                        <h2>{{ _("Order total")}}</h2>
                                        <ul class="mb-20">
                                            {#                                            <li>Subtotal <span class="total-sum">${{ sum }}</span></li>#}
                                            <li>Total <span class="total-sum">
                                                {% if order.method == 1 %}
                                                    ${{ checkout_sum }}+20(freight)</span></li>
                                                {% else %}
                                                    <span class="total-sum">
                                                        ${{ checkout_sum }} </span>
                                                    </li>
                                                {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- cart-area end -->

</main>

    <!--   Alert   -->
<script src="/static/assets/js/toast.js"></script>
    <script>
        function success() {
            init({
                fade_in: 800,
                fade_out: 800,
                position: 'top-center'
            });


            toast({
                title: 'Success',
                description: 'You give star successfully!',
                type: 'success',
                timeout: 5000
            })
        }
        function successAddCart() {
            init({
                fade_in: 800,
                fade_out: 800,
                position: 'top-center'
            });


            toast({
                title: 'Success',
                description: 'Add to cart successfully!',
                type: 'success',
                timeout: 5000
            })
        }
        function error() {
            init({
                fade_in: 800,
                fade_out: 800,
                position: 'top-center'
            });


            toast({
                title: 'Error',
                description: 'Internet Connect Error',
                type: 'error',
                timeout: 5000
            })
        }
        function warning() {
            init({
                fade_in: 800,
                fade_out: 800,
                position: 'top-center'
            });


            toast({
                title: 'Warning',
                description: 'Please Login',
                type: 'warning',
                timeout: 5000
            })
        }
        function custom() {
            init({
                fade_in: 800,
                fade_out: 800,
                position: 'top-center'
            });


            toast({
                title: 'Hi',
                description: 'Custom message',
                type: 'custom',
                close_color: '#3498db',
                border_color: '#3498db',
                timeout: 5000
            })
        }

    </script>

{% include "newFront/footer.html" %}
{% include "newFront/button_base.html" %}
<script>
    $("#language_switch").change(function(){
        $.ajax({
            url: '/set_locale',
            type: 'GET',
            data:{"language": $(this).val()},
            success: function (ret) {
                console.log(ret);
                location.reload();
            }
        })
    });
</script>
<div class="chatContainer">
    <div class="chatBtn">
        <i class="iconfont icon-xiaoxi1"></i>
    </div>
{#    <div class="chat-message-num">0</div>#}
    <div class="chatBox" ref="chatBox">
        <div class="chatBox-head">
{#            <div class="chatBox-head-one">#}
{#                Conversations#}
{#                <div class="chat-close" style="margin: 10px 10px 0 0;font-size: 14px">CLOSE</div>#}
{#            </div>#}
            <div class="chatBox-head-two">
                {#                <div class="chat-return">BACK</div>#}
                <div class="chat-people">
                    <div class="ChatInfoHead">
                        <img src="" alt="头像"/>
                    </div>
                    <div class="ChatInfoName">这是用户的名字，看看名字到底能有多长</div>
                </div>
                <div class="chat-close">{{ _("CLOSE") }}</div>
            </div>
        </div>
        <div class="chatBox-info">
            {#            <div class="chatBox-list" ref="chatBoxlist" style="display: none">#}
            {#                <div class="chat-list-people">#}
            {#                    <div><img src="{{ url_for('static',filename="assets/img/chatfigure/icon01.png") }}"#}
            {#                              alt="头像"></div>#}
            {#                    <div class="chat-name">#}
            {#                        <p>Staff - 哈哈</p>#}
            {#                    </div>#}
            {#                    <div class="message-num">5</div>#}
            {#                </div>#}
            {#                <div class="chat-list-people">#}
            {#                    <div><img src="{{ url_for('static',filename="assets/img/chatfigure/icon02.png") }}" alt="头像"/></div>#}
            {#                    <div class="chat-name">#}
            {#                        <p>Staff - 呵呵</p>#}
            {#                    </div>#}
            {#                    <div class="message-num">8</div>#}
            {#                </div>#}
            {#                <div class="chat-list-people">#}
            {#                    <div><img src="{{ url_for('static',filename="assets/img/chatfigure/icon03.png") }}" alt="头像"/></div>#}
            {#                    <div class="chat-name">#}
            {#                        <p>Staff - 凯文</p>#}
            {#                    </div>#}
            {#                    <div class="message-num">2</div>#}
            {#                </div>#}
            {#            </div>#}
            <div class="chatBox-kuang" ref="chatBoxkuang">
                <div class="chatBox-content">
                    <div class="chatBox-content-demo" id="chatBox-content-demo">

                        <div class="clearfloat">
                            <div class="author-name">
                                <small class="chat-date">2017-12-02 14:26:58</small>
                            </div>
                            <div class="left">
                                <div class="chat-avatars"><img
                                        src="{{ url_for('static',filename="assets/img/chatfigure/icon01.png") }}"
                                        alt="头像"/></div>
                                <div class="chat-message">
                                    给你看张图
                                </div>
                            </div>
                        </div>
                        <div class="clearfloat">
                            <div class="author-name">
                                <small class="chat-date">2017-12-02 14:26:58</small>
                            </div>
                            <div class="left">
                                <div class="chat-avatars"><img
                                        src="{{ url_for('static',filename="assets/img/chatfigure/icon01.png") }}"
                                        alt="头像"/></div>
                                <div class="chat-message">
                                    <img src="{{ url_for('static',filename="assets/img/chatfigure/1.png") }}" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="clearfloat">
                            <div class="author-name">
                                <small class="chat-date">2017-12-02 14:26:58</small>
                            </div>
                            <div class="right">
                                <div class="chat-message">嗯，适合做壁纸</div>
                                <div class="chat-avatars"><img
                                        src="{{ url_for('static',filename="assets/img/chatfigure/icon02.png") }}"
                                        alt="头像"/></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chatBox-send">
                    <div class="div-textarea" contenteditable="true"></div>
                    <div>
                        <label id="chat-tuxiang" title="发送图片" for="inputImage" class="btn-default-styles">
                            <input type="file" onchange="selectImg(this)" accept="image/jpg,image/jpeg,image/png"
                                   name="file" id="inputImage" class="hidden">
                            <i class="iconfont icon-tuxiang"></i>
                        </label>
                        <button id="chat-fasong" class="btn-default-styles"><i class="iconfont icon-fasong"></i>
                        </button>
                    </div>
                    <div class="biaoqing-photo">
                        <ul>
                            <li><span class="emoji-picker-image" style="background-position: -9px -18px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -40px -18px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -71px -18px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -102px -18px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -133px -18px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -164px -18px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -9px -52px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -40px -52px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -71px -52px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -102px -52px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -133px -52px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -164px -52px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -9px -86px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -40px -86px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -71px -86px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -102px -86px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -133px -86px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -164px -86px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -9px -120px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -40px -120px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -71px -120px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -102px -120px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -133px -120px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -164px -120px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -9px -154px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -40px -154px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -71px -154px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -102px -154px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -133px -154px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -164px -154px;"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script>
    screenFuc();

    function screenFuc() {
        var topHeight = $(".chatBox-head").innerHeight();//聊天头部高度
        //屏幕小于768px时候,布局change
        var winWidth = $(window).innerWidth();
        if (winWidth <= 768) {
            var totalHeight = $(window).height(); //页面整体高度
            $(".chatBox-info").css("height", totalHeight - topHeight);
            var infoHeight = $(".chatBox-info").innerHeight();//聊天头部以下高度
            //中间内容高度
            $(".chatBox-content").css("height", infoHeight - 46);
            $(".chatBox-content-demo").css("height", infoHeight - 46);

            $(".chatBox-list").css("height", totalHeight - topHeight);
            $(".chatBox-kuang").css("height", totalHeight - topHeight);
            $(".div-textarea").css("width", winWidth - 106);
        } else {
            $(".chatBox-info").css("height", 495);
            $(".chatBox-content").css("height", 448);
            $(".chatBox-content-demo").css("height", 448);
            $(".chatBox-list").css("height", 495);
            $(".chatBox-kuang").css("height", 495);
            $(".div-textarea").css("width", 300);
        }
    }

    (window.onresize = function () {
        screenFuc();
        $(".chatBox").toggle(10);
    })();
    //未读信息数量为空时
    var totalNum = $(".chat-message-num").html();
    if (totalNum == "") {
        $(".chat-message-num").css("padding", 0);
    }
    $(".message-num").each(function () {
        var wdNum = $(this).html();
        if (wdNum == "") {
            $(this).css("padding", 0);
        }
    });


    // 打开/关闭聊天框
    $(".chatBtn").click(function () {
        if ($(".chatBox").css('display') === "none"){
            $(".chatBox").toggle(10);
            $(".chatBox-head-two").css('display', 'block');
            $(".chatBox-kuang").css('display', 'block');
        }
        else{
            $(".chatBox").toggle(10);
            $(".chatBox-head-two").css('display', 'none');
            $(".chatBox-kuang").css('display', 'none');
        }

        $(".chat-message-num").html(0);
        {#$(".chatBox-head-one").toggle();#}
        {#$(".chatBox-head-two").toggle();#}
        {#$(".chatBox-kuang").fadeToggle();#}

        $(".ChatInfoName").text("Staff");

        //聊天框默认最底部
        $(document).ready(function () {
            let chatBox = $("#chatBox-content-demo");
            chatBox.empty()
            $.post('/view_chat_history', {}).done(function (response) {
                let server_chat_query = response['chat_query_dict'];
                let server_code = response['server_code'];
                if (server_code === 1) {
                    window.location.href='\\login'
                } else {
                    for (let i = 0; i < server_chat_query["data"].length; i++) {
                        $(".ChatInfoHead>img").attr("src", server_chat_query["data"][i]["staff-avatar"]);
                        let root = $("<div>");
                        root.attr('class', 'clearfloat');
                        chatBox.append(root);
                        let divAuthor = $("<div>")
                        divAuthor.attr('class', 'author-name')
                        root.append(divAuthor)
                        let smallTime = $("<small>");
                        smallTime.attr('class', 'chat-date');
                        smallTime.text(server_chat_query["data"][i]["gmtcreate"]);
                        divAuthor.append(smallTime);
                        let divSide = $("<div>")

                        if (server_chat_query["data"][i]["status"] === "1") {
                            divSide.attr('class', 'left')
                            root.append(divSide);
                            let divAvatar = $("<div>");
                            divAvatar.attr('class', 'chat-avatars');
                            divSide.append(divAvatar);
                            let img = $("<img>");
                            img.attr('src', server_chat_query["data"][i]["staff-avatar"]);
                            img.attr('alt', '头像');
                            divAvatar.append(img);
                            let divChat = $("<div>");
                            divChat.attr('class', 'chat-message');
                            divChat.html(server_chat_query["data"][i]["content"]);
                            divSide.append(divChat);
                        } else {
                            divSide.attr('class', 'right')
                            root.append(divSide);
                            let divChat = $("<div>");
                            divChat.attr('class', 'chat-message');
                            divChat.html(server_chat_query["data"][i]["content"]);
                            divSide.append(divChat);
                            let divAvatar = $("<div>");
                            divAvatar.attr('class', 'chat-avatars');
                            divSide.append(divAvatar);
                            let img = $("<img>");
                            img.attr('src', server_chat_query["data"][i]["avatar"]);
                            img.attr('alt', '头像');
                            divAvatar.append(img);
                        }
                    }
                }
                $("#chatBox-content-demo").scrollTop($("#chatBox-content-demo")[0].scrollHeight);
            }).fail(function () {
                error();
            });
            $("#chatBox-content-demo").scrollTop($("#chatBox-content-demo")[0].scrollHeight);
        });
    })

    $(".chat-close").click(function () {
        $(".chatBox").toggle(10);
        {#$(".chatBox-head-one").toggle();#}
        {#$(".chatBox-head-two").toggle();#}
        {#$(".chatBox-kuang").fadeToggle();#}
        $(".chatBox-head-two").css('display', 'none');
        $(".chatBox-kuang").css('display', 'none');
    })


    window.setInterval(function () {
        $.post('/update_count', {}).done(function (response) {
            let server_chat_query = response['chat_query_dict'];
            let server_count = response['chat_count'];
            let server_code = response['server_code'];
            if (server_code === 1) {

            } else {
                {#$(".chat-message-num").html(server_count);#}
                let chatBox = $("#chatBox-content-demo");
                for (let i = 0; i < server_chat_query["data"].length; i++) {
                    let root = $("<div>");
                    root.attr('class', 'clearfloat');
                    chatBox.append(root);
                    let divAuthor = $("<div>")
                    divAuthor.attr('class', 'author-name')
                    root.append(divAuthor)
                    let smallTime = $("<small>");
                    smallTime.attr('class', 'chat-date');
                    smallTime.text(server_chat_query["data"][i]["gmtcreate"]);
                    divAuthor.append(smallTime);
                    let divSide = $("<div>")

                    divSide.attr('class', 'left')
                    root.append(divSide);
                    let divAvatar = $("<div>");
                    divAvatar.attr('class', 'chat-avatars');
                    divSide.append(divAvatar);
                    let img = $("<img>");
                    img.attr('src', server_chat_query["data"][i]["staff-avatar"]);
                    img.attr('alt', '头像');
                    divAvatar.append(img);
                    let divChat = $("<div>");
                    divChat.attr('class', 'chat-message');
                    divChat.html(server_chat_query["data"][i]["content"]);
                    divSide.append(divChat);
                }
            }
        }).fail(function () {

        });
    }, 5000)


    // 返回列表
    /*
    $(".chat-return").click(function () {
        $(".chatBox-head-one").toggle(1);
        $(".chatBox-head-two").toggle(1);
        $(".chatBox-list").fadeToggle(1);
        $(".chatBox-kuang").fadeToggle(1);
    });

     */

    let shift = false;
    let enter = false;
    $(".div-textarea").bind("keydown",function(e){
            　　var theEvent = e || window.event;
            　　var code = theEvent.keyCode || theEvent.which || theEvent.charCode;
            　　 if (code === 13) {
            　       $("#chat-fasong").click();
            　　}
            });


/*
    			document.onkeydown = function(event){
				alert("按下:"+event.key+"键:"+event);
			}

 */

    // 发送信息
    $("#chat-fasong").click(function () {
        var textContent = $(".div-textarea").html().replace(/[\n\r]/g, '<br>')
        if (textContent !== "") {
            $.post('/add_chat', {
                'text of content': textContent,
            }).done(function (response) {
                let server_code = response['server_code'];
                if (server_code === 1) {
                    warning()
                } else {
                    let server_avatar = response['avatar']
                    let root = $("<div>");
                    root.attr('class', 'clearfloat');
                    $("#chatBox-content-demo").append(root);
                    let divAuthor = $("<div>")
                    divAuthor.attr('class', 'author-name')
                    root.append(divAuthor)
                    let smallTime = $("<small>");
                    smallTime.attr('class', 'chat-date');

                    let nowTime = new Date();
                    let year = nowTime.getFullYear();
                    let month = (nowTime.getMonth() + 1).toString().padStart(2, '0');
                    let date = (nowTime.getDate()).toString().padStart(2, '0');
                    let hour = (nowTime.getHours()).toString().padStart(2, '0');
                    let minute = (nowTime.getMinutes()).toString().padStart(2, '0');
                    let second = (nowTime.getSeconds()).toString().padStart(2, '0');

                    smallTime.text(year + "-" + month + "-" + date + " " + hour + ":" + minute + ":" + second);
                    divAuthor.append(smallTime);
                    let divSide = $("<div>")
                    divSide.attr('class', 'right')
                    root.append(divSide);
                    let divChat = $("<div>");
                    divChat.attr('class', 'chat-message');
                    divChat.html(textContent);
                    divSide.append(divChat);
                    let divAvatar = $("<div>");
                    divAvatar.attr('class', 'chat-avatars');
                    divSide.append(divAvatar);
                    let img = $("<img>");
                    img.attr('src', server_avatar);
                    img.attr('alt', '头像');
                    divAvatar.append(img);
                    // 发送后清空输入框
                    $(".div-textarea").html("");
                    $("#chatBox-content-demo").scrollTop($("#chatBox-content-demo")[0].scrollHeight);
                }
            })
        }
    });

    //      发送表情
    $("#chat-biaoqing").click(function () {
        $(".biaoqing-photo").toggle();
    });
    $(document).click(function () {
        $(".biaoqing-photo").css("display", "none");
    });
    $("#chat-biaoqing").click(function (event) {
        event.stopPropagation();//阻止事件
    });

    $(".emoji-picker-image").each(function () {
        $(this).click(function () {
            var bq = $(this).parent().html();
            console.log(bq)
            $(".chatBox-content-demo").append("<div class=\"clearfloat\">" +
                "<div class=\"author-name\"><small class=\"chat-date\">2017-12-02 14:26:58</small> </div> " +
                "<div class=\"right\"> <div class=\"chat-message\"> " + bq + " </div> " +
                "<div class=\"chat-avatars\"><img src=\"img/icon01.png\" alt=\"头像\" /></div> </div> </div>");
            //发送后关闭表情框
            $(".biaoqing-photo").toggle();
            //聊天框默认最底部
            $(document).ready(function () {
                $("#chatBox-content-demo").scrollTop($("#chatBox-content-demo")[0].scrollHeight);
            });
        })
    });

    //      发送图片
    function selectImg(pic) {
        if (!pic.files || !pic.files[0]) {
            return;
        }
        let formData = new FormData();
        formData.append("img", pic.files[0]);

        $.ajax({
            url:"/add_img",
            type:"post",
            data: formData,
            contentType: false,
            processData: false,
            success: function(response) {
                let server_code = response["server_code"];
                if (server_code === 1){
                    warning();
                }
                else{
                    let server_avatar = response["avatar"]
                    var reader = new FileReader();
                    reader.onload = function (evt) {
                    var images = evt.target.result;
                    let root = $("<div>");
                    root.attr('class', 'clearfloat');
                    $("#chatBox-content-demo").append(root);
                    let divAuthor = $("<div>")
                    divAuthor.attr('class', 'author-name')
                    root.append(divAuthor)
                    let smallTime = $("<small>");
                    smallTime.attr('class', 'chat-date');

                    let nowTime = new Date();
                    let year = nowTime.getFullYear();
                    let month = (nowTime.getMonth() + 1).toString().padStart(2, '0');
                    let date = (nowTime.getDate()).toString().padStart(2, '0');
                    let hour = (nowTime.getHours()).toString().padStart(2, '0');
                    let minute = (nowTime.getMinutes()).toString().padStart(2, '0');
                    let second = (nowTime.getSeconds()).toString().padStart(2, '0');

                    smallTime.text(year + "-" + month + "-" + date + " " + hour + ":" + minute + ":" + second);
                    divAuthor.append(smallTime);
                    let divSide = $("<div>")
                    divSide.attr('class', 'right')
                    root.append(divSide);
                    let divChat = $("<div>");
                    divChat.attr('class', 'chat-message');
                    divSide.append(divChat);
                    let imgChat = $("<img>");
                    imgChat.attr('src', images);
                    imgChat.attr('alt', 'img');
                    divChat.html(imgChat)
                    let divAvatar = $("<div>");
                    divAvatar.attr('class', 'chat-avatars');
                    divSide.append(divAvatar);
                    let img = $("<img>");
                    img.attr('src', server_avatar);
                    img.attr('alt', '头像');
                    divAvatar.append(img)
                    $("#chatBox-content-demo").scrollTop($("#chatBox-content-demo")[0].scrollHeight);
                };
                    reader.readAsDataURL(pic.files[0]);
                }
            },
            error:function(data) {
                error();
            }
        });


    }


</script>

</body>

</html>