@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?d3225f66f7d17637ee80be6d6287f802") format("truetype"),
url("./flaticon.woff?d3225f66f7d17637ee80be6d6287f802") format("woff"),
url("./flaticon.woff2?d3225f66f7d17637ee80be6d6287f802") format("woff2"),
url("./flaticon.eot?d3225f66f7d17637ee80be6d6287f802#iefix") format("embedded-opentype"),
url("./flaticon.svg?d3225f66f7d17637ee80be6d6287f802#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    /* line-height: 1; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-chevron:before {
    content: "\f101";
}
.flaticon-facebook:before {
    content: "\f102";
}
.flaticon-pinterest:before {
    content: "\f103";
}
.flaticon-instagram:before {
    content: "\f104";
}
.flaticon-google-plus:before {
    content: "\f105";
}
.flaticon-menu:before {
    content: "\f106";
}
.flaticon-user:before {
    content: "\f107";
}
.flaticon-transparency:before {
    content: "\f108";
}
.flaticon-right-chevron:before {
    content: "\f109";
}
.flaticon-left-chevron:before {
    content: "\f10a";
}
.flaticon-skype:before {
    content: "\f10b";
}
.flaticon-user-1:before {
    content: "\f10c";
}
.flaticon-chat:before {
    content: "\f10d";
}
.flaticon-facebook-1:before {
    content: "\f10e";
}
.flaticon-dribbble:before {
    content: "\f10f";
}
.flaticon-linkedin:before {
    content: "\f110";
}
.flaticon-skype-1:before {
    content: "\f111";
}
.flaticon-pinterest-1:before {
    content: "\f112";
}
.flaticon-pinterest-circular-logo-symbol:before {
    content: "\f113";
}
.flaticon-twitter:before {
    content: "\f114";
}
.flaticon-calendar:before {
    content: "\f115";
}
.flaticon-play-button:before {
    content: "\f116";
}
.flaticon-placeholder:before {
    content: "\f117";
}
.flaticon-phone:before {
    content: "\f118";
}
.flaticon-gmail:before {
    content: "\f119";
}
.flaticon-send:before {
    content: "\f11a";
}
.flaticon-twitter-1:before {
    content: "\f11b";
}
.flaticon-down-arrow:before {
    content: "\f11c";
}
.flaticon-up-arrow:before {
    content: "\f11d";
}
.flaticon-date:before {
    content: "\f11e";
}
.flaticon-calendar-1:before {
    content: "\f11f";
}
.flaticon-play:before {
    content: "\f120";
}
.flaticon-menu-1:before {
    content: "\f121";
}
.flaticon-menu-2:before {
    content: "\f122";
}
.flaticon-search-interface-symbol:before {
    content: "\f123";
}
.flaticon-search:before {
    content: "\f124";
}
.flaticon-google-plus-1:before {
    content: "\f125";
}
.flaticon-youtube-logotype:before {
    content: "\f126";
}
.flaticon-instagram-1:before {
    content: "\f127";
}
.flaticon-vk:before {
    content: "\f128";
}
.flaticon-vk-1:before {
    content: "\f129";
}
.flaticon-vk-2:before {
    content: "\f12a";
}
.flaticon-visible-opened-eye-interface-option:before {
    content: "\f12b";
}
.flaticon-home:before {
    content: "\f12c";
}
.flaticon-instagram-2:before {
    content: "\f12d";
}
.flaticon-like:before {
    content: "\f12e";
}
.flaticon-reply-arrow:before {
    content: "\f12f";
}
.flaticon-reply-all:before {
    content: "\f130";
}
.flaticon-reply-all-1:before {
    content: "\f131";
}
.flaticon-arrowhead-pointing-to-the-right:before {
    content: "\f132";
}
.flaticon-list:before {
    content: "\f133";
}
.flaticon-grid:before {
    content: "\f134";
}
.flaticon-full-screen:before {
    content: "\f135";
}
.flaticon-fullscreen:before {
    content: "\f136";
}
.flaticon-heart:before {
    content: "\f137";
}
.flaticon-star:before {
    content: "\f138";
}
.flaticon-star-1:before {
    content: "\f139";
}
.flaticon-plus:before {
    content: "\f13a";
}
.flaticon-remove:before {
    content: "\f13b";
}
.flaticon-right-arrow:before {
    content: "\f13c";
}
.flaticon-delete:before {
    content: "\f13d";
}
.flaticon-facebook-2:before {
    content: "\f13e";
}
.flaticon-shopping-cart:before {
    content: "\f13f";
}
.flaticon-shopping-cart-1:before {
    content: "\f140";
}
.flaticon-customer-service:before {
    content: "\f141";
}
.flaticon-fire-truck:before {
    content: "\f142";
}
.flaticon-gift-box:before {
    content: "\f143";
}
.flaticon-visibility:before {
    content: "\f144";
}
.flaticon-mail:before {
    content: "\f145";
}
.flaticon-image:before {
    content: "\f146";
}
.flaticon-console:before {
    content: "\f147";
}
.flaticon-headphones:before {
    content: "\f148";
}
.flaticon-checked:before {
    content: "\f149";
}
.flaticon-chevron-1:before {
    content: "\f14a";
}
.flaticon-cards:before {
    content: "\f14b";
}
.flaticon-arrow-pointing-to-right:before {
    content: "\f14c";
}
.flaticon-refresh:before {
    content: "\f14d";
}
